@charset "UTF-8";

/*

  Click the horse for slow-mo :)

*/

:root {
  font-size: 22vmin;
  --outlines: transparent;
  --speed: 0.8s;
  --delay-gap: 8;
  --horse-width: 3.8rem;
  --horse-height: 2.5rem;
  --color-horse: rgba(50, 50, 50, 1);
  --color-horse-back: rgba(30, 30, 30, 1);
  --color-hair: rgba(70, 70, 70, 1);
  --color-hoof: rgba(0, 0, 0, 1);
  --color-dust: #AF540B;
  --color-floor: #F1D1AF;
  --color-sky: #C4C4FF;
}

input[type=checkbox] {
  opacity: 0;
}

input[type=checkbox]:checked~label {
  --outlines: white;
  --speed: 8s;
  --color-horse: rgba(50, 50, 50, 0.3);
  --color-horse-back: rgba(30, 30, 30, 0.3);
  --color-hair: rgba(70, 70, 70, 0.3);
  --color-hoof: rgba(0, 0, 0, 0.3);
}

* {
  position: relative;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, #ffa44e 30%, #00d4ff 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  cursor: pointer;
}

.dust {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(((100vh - var(--horse-height)) / 2) + 0.02rem);
  overflow: hidden;
}

.floor {
  background-color: var(--color-floor);
  background: linear-gradient(9deg, #e8d9be 0%, #A95108 100%);
  position: fixed;
  top: calc(50vh + (var(--horse-height) / 2) - 0.5rem);
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.dust .particle {
  background-color: var(--color-dust);
  width: 0.05rem;
  height: 0.05rem;
  border-radius: 50%;
  position: absolute;
  border: 1px dashed var(--outlines);
  top: calc(50vh + (var(--horse-height) / 2) - 0.05rem);
  left: calc(50vw - (var(--horse-width) / 2) + (var(--horse-width) * 0.15));
}

.dust.back .particle {
  left: calc(50vw - (var(--horse-width) / 2) + (var(--horse-width) * 0.5));
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translateX(calc(0.228229594 * var(--horse-width))) translateY(calc(-0.0022130561 * (var(--horse-height) / 5))) scale(3) rotate(-135deg);
    opacity: 0;
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translateX(calc(0.228229594 * var(--horse-width))) translateY(calc(-0.0022130561 * (var(--horse-height) / 5))) scale(3) rotate(-135deg);
    opacity: 0;
  }
}

.particle:nth-child(1) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-1 var(--speed) ease-out infinite;
  animation: particle-animation-1 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.01s);
  animation-delay: calc((var(--speed) * 0.1) + 0.01s);
}

.dust.back .particle:nth-child(1) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.01s);
  animation-delay: calc((var(--speed) * 0.68) + 0.01s);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translateX(calc(0.7583573397 * var(--horse-width))) translateY(calc(-0.0016611057 * (var(--horse-height) / 5))) scale(3) rotate(-159.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translateX(calc(0.7583573397 * var(--horse-width))) translateY(calc(-0.0016611057 * (var(--horse-height) / 5))) scale(3) rotate(-159.5deg);
    opacity: 0;
  }
}

.particle:nth-child(2) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-2 var(--speed) ease-out infinite;
  animation: particle-animation-2 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.02s);
  animation-delay: calc((var(--speed) * 0.1) + 0.02s);
}

.dust.back .particle:nth-child(2) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.02s);
  animation-delay: calc((var(--speed) * 0.68) + 0.02s);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translateX(calc(0.5364059651 * var(--horse-width))) translateY(calc(-0.0093102522 * (var(--horse-height) / 5))) scale(6) rotate(-25.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translateX(calc(0.5364059651 * var(--horse-width))) translateY(calc(-0.0093102522 * (var(--horse-height) / 5))) scale(6) rotate(-25.5deg);
    opacity: 0;
  }
}

.particle:nth-child(3) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-3 var(--speed) ease-out infinite;
  animation: particle-animation-3 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.03s);
  animation-delay: calc((var(--speed) * 0.1) + 0.03s);
}

.dust.back .particle:nth-child(3) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.03s);
  animation-delay: calc((var(--speed) * 0.68) + 0.03s);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translateX(calc(0.6479315713 * var(--horse-width))) translateY(calc(-0.0035776712 * (var(--horse-height) / 5))) scale(6) rotate(-21.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translateX(calc(0.6479315713 * var(--horse-width))) translateY(calc(-0.0035776712 * (var(--horse-height) / 5))) scale(6) rotate(-21.5deg);
    opacity: 0;
  }
}

.particle:nth-child(4) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-4 var(--speed) ease-out infinite;
  animation: particle-animation-4 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.04s);
  animation-delay: calc((var(--speed) * 0.1) + 0.04s);
}

.dust.back .particle:nth-child(4) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.04s);
  animation-delay: calc((var(--speed) * 0.68) + 0.04s);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translateX(calc(0.0188208477 * var(--horse-width))) translateY(calc(-0.0048306044 * (var(--horse-height) / 5))) scale(6) rotate(-14deg);
    opacity: 0;
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translateX(calc(0.0188208477 * var(--horse-width))) translateY(calc(-0.0048306044 * (var(--horse-height) / 5))) scale(6) rotate(-14deg);
    opacity: 0;
  }
}

.particle:nth-child(5) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-5 var(--speed) ease-out infinite;
  animation: particle-animation-5 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.05s);
  animation-delay: calc((var(--speed) * 0.1) + 0.05s);
}

.dust.back .particle:nth-child(5) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.05s);
  animation-delay: calc((var(--speed) * 0.68) + 0.05s);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translateX(calc(0.3807636432 * var(--horse-width))) translateY(calc(-0.0007118592 * (var(--horse-height) / 5))) scale(4) rotate(-174deg);
    opacity: 0;
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translateX(calc(0.3807636432 * var(--horse-width))) translateY(calc(-0.0007118592 * (var(--horse-height) / 5))) scale(4) rotate(-174deg);
    opacity: 0;
  }
}

.particle:nth-child(6) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-6 var(--speed) ease-out infinite;
  animation: particle-animation-6 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.06s);
  animation-delay: calc((var(--speed) * 0.1) + 0.06s);
}

.dust.back .particle:nth-child(6) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.06s);
  animation-delay: calc((var(--speed) * 0.68) + 0.06s);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translateX(calc(0.1410824692 * var(--horse-width))) translateY(calc(-0.001987852 * (var(--horse-height) / 5))) scale(4) rotate(-30deg);
    opacity: 0;
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translateX(calc(0.1410824692 * var(--horse-width))) translateY(calc(-0.001987852 * (var(--horse-height) / 5))) scale(4) rotate(-30deg);
    opacity: 0;
  }
}

.particle:nth-child(7) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-7 var(--speed) ease-out infinite;
  animation: particle-animation-7 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.07s);
  animation-delay: calc((var(--speed) * 0.1) + 0.07s);
}

.dust.back .particle:nth-child(7) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.07s);
  animation-delay: calc((var(--speed) * 0.68) + 0.07s);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translateX(calc(0.4468336601 * var(--horse-width))) translateY(calc(-0.0097431612 * (var(--horse-height) / 5))) scale(5) rotate(-51.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translateX(calc(0.4468336601 * var(--horse-width))) translateY(calc(-0.0097431612 * (var(--horse-height) / 5))) scale(5) rotate(-51.5deg);
    opacity: 0;
  }
}

.particle:nth-child(8) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-8 var(--speed) ease-out infinite;
  animation: particle-animation-8 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.08s);
  animation-delay: calc((var(--speed) * 0.1) + 0.08s);
}

.dust.back .particle:nth-child(8) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.08s);
  animation-delay: calc((var(--speed) * 0.68) + 0.08s);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translateX(calc(0.3111144607 * var(--horse-width))) translateY(calc(-0.0036434056 * (var(--horse-height) / 5))) scale(4) rotate(-156.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translateX(calc(0.3111144607 * var(--horse-width))) translateY(calc(-0.0036434056 * (var(--horse-height) / 5))) scale(4) rotate(-156.5deg);
    opacity: 0;
  }
}

.particle:nth-child(9) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-9 var(--speed) ease-out infinite;
  animation: particle-animation-9 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.09s);
  animation-delay: calc((var(--speed) * 0.1) + 0.09s);
}

.dust.back .particle:nth-child(9) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.09s);
  animation-delay: calc((var(--speed) * 0.68) + 0.09s);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translateX(calc(0.7690989131 * var(--horse-width))) translateY(calc(-0.0037715505 * (var(--horse-height) / 5))) scale(5) rotate(-10.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translateX(calc(0.7690989131 * var(--horse-width))) translateY(calc(-0.0037715505 * (var(--horse-height) / 5))) scale(5) rotate(-10.5deg);
    opacity: 0;
  }
}

.particle:nth-child(10) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-10 var(--speed) ease-out infinite;
  animation: particle-animation-10 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.1s);
  animation-delay: calc((var(--speed) * 0.1) + 0.1s);
}

.dust.back .particle:nth-child(10) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.1s);
  animation-delay: calc((var(--speed) * 0.68) + 0.1s);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translateX(calc(0.601713209 * var(--horse-width))) translateY(calc(-0.0024892214 * (var(--horse-height) / 5))) scale(5) rotate(-54.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translateX(calc(0.601713209 * var(--horse-width))) translateY(calc(-0.0024892214 * (var(--horse-height) / 5))) scale(5) rotate(-54.5deg);
    opacity: 0;
  }
}

.particle:nth-child(11) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-11 var(--speed) ease-out infinite;
  animation: particle-animation-11 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.11s);
  animation-delay: calc((var(--speed) * 0.1) + 0.11s);
}

.dust.back .particle:nth-child(11) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.11s);
  animation-delay: calc((var(--speed) * 0.68) + 0.11s);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translateX(calc(0.2989198246 * var(--horse-width))) translateY(calc(-0.0030236321 * (var(--horse-height) / 5))) scale(3) rotate(-13.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translateX(calc(0.2989198246 * var(--horse-width))) translateY(calc(-0.0030236321 * (var(--horse-height) / 5))) scale(3) rotate(-13.5deg);
    opacity: 0;
  }
}

.particle:nth-child(12) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-12 var(--speed) ease-out infinite;
  animation: particle-animation-12 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.12s);
  animation-delay: calc((var(--speed) * 0.1) + 0.12s);
}

.dust.back .particle:nth-child(12) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.12s);
  animation-delay: calc((var(--speed) * 0.68) + 0.12s);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translateX(calc(0.0259934293 * var(--horse-width))) translateY(calc(-0.0035237521 * (var(--horse-height) / 5))) scale(5) rotate(-133.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translateX(calc(0.0259934293 * var(--horse-width))) translateY(calc(-0.0035237521 * (var(--horse-height) / 5))) scale(5) rotate(-133.5deg);
    opacity: 0;
  }
}

.particle:nth-child(13) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-13 var(--speed) ease-out infinite;
  animation: particle-animation-13 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.13s);
  animation-delay: calc((var(--speed) * 0.1) + 0.13s);
}

.dust.back .particle:nth-child(13) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.13s);
  animation-delay: calc((var(--speed) * 0.68) + 0.13s);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translateX(calc(0.689623363 * var(--horse-width))) translateY(calc(-0.0068254743 * (var(--horse-height) / 5))) scale(4) rotate(-140.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translateX(calc(0.689623363 * var(--horse-width))) translateY(calc(-0.0068254743 * (var(--horse-height) / 5))) scale(4) rotate(-140.5deg);
    opacity: 0;
  }
}

.particle:nth-child(14) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-14 var(--speed) ease-out infinite;
  animation: particle-animation-14 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.14s);
  animation-delay: calc((var(--speed) * 0.1) + 0.14s);
}

.dust.back .particle:nth-child(14) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.14s);
  animation-delay: calc((var(--speed) * 0.68) + 0.14s);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translateX(calc(0.0624748738 * var(--horse-width))) translateY(calc(-0.0002754248 * (var(--horse-height) / 5))) scale(6) rotate(-149.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translateX(calc(0.0624748738 * var(--horse-width))) translateY(calc(-0.0002754248 * (var(--horse-height) / 5))) scale(6) rotate(-149.5deg);
    opacity: 0;
  }
}

.particle:nth-child(15) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-15 var(--speed) ease-out infinite;
  animation: particle-animation-15 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.15s);
  animation-delay: calc((var(--speed) * 0.1) + 0.15s);
}

.dust.back .particle:nth-child(15) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.15s);
  animation-delay: calc((var(--speed) * 0.68) + 0.15s);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translateX(calc(0.0874078175 * var(--horse-width))) translateY(calc(-0.0094838617 * (var(--horse-height) / 5))) scale(6) rotate(-57.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translateX(calc(0.0874078175 * var(--horse-width))) translateY(calc(-0.0094838617 * (var(--horse-height) / 5))) scale(6) rotate(-57.5deg);
    opacity: 0;
  }
}

.particle:nth-child(16) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-16 var(--speed) ease-out infinite;
  animation: particle-animation-16 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.16s);
  animation-delay: calc((var(--speed) * 0.1) + 0.16s);
}

.dust.back .particle:nth-child(16) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.16s);
  animation-delay: calc((var(--speed) * 0.68) + 0.16s);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translateX(calc(0.4454576093 * var(--horse-width))) translateY(calc(-0.0069723429 * (var(--horse-height) / 5))) scale(5) rotate(-174.5deg);
    opacity: 0;
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translateX(calc(0.4454576093 * var(--horse-width))) translateY(calc(-0.0069723429 * (var(--horse-height) / 5))) scale(5) rotate(-174.5deg);
    opacity: 0;
  }
}

.particle:nth-child(17) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-17 var(--speed) ease-out infinite;
  animation: particle-animation-17 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.17s);
  animation-delay: calc((var(--speed) * 0.1) + 0.17s);
}

.dust.back .particle:nth-child(17) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.17s);
  animation-delay: calc((var(--speed) * 0.68) + 0.17s);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translateX(calc(0.3252511211 * var(--horse-width))) translateY(calc(-0.0055073787 * (var(--horse-height) / 5))) scale(3) rotate(-164deg);
    opacity: 0;
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translateX(calc(0.3252511211 * var(--horse-width))) translateY(calc(-0.0055073787 * (var(--horse-height) / 5))) scale(3) rotate(-164deg);
    opacity: 0;
  }
}

.particle:nth-child(18) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-18 var(--speed) ease-out infinite;
  animation: particle-animation-18 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.18s);
  animation-delay: calc((var(--speed) * 0.1) + 0.18s);
}

.dust.back .particle:nth-child(18) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.18s);
  animation-delay: calc((var(--speed) * 0.68) + 0.18s);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translateX(calc(0.7213456739 * var(--horse-width))) translateY(calc(-0.0025541327 * (var(--horse-height) / 5))) scale(3) rotate(-132deg);
    opacity: 0;
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translateX(calc(0.7213456739 * var(--horse-width))) translateY(calc(-0.0025541327 * (var(--horse-height) / 5))) scale(3) rotate(-132deg);
    opacity: 0;
  }
}

.particle:nth-child(19) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-19 var(--speed) ease-out infinite;
  animation: particle-animation-19 var(--speed) ease-out infinite;
  -webkit-animation-delay: calc((var(--speed) * 0.1) + 0.19s);
  animation-delay: calc((var(--speed) * 0.1) + 0.19s);
}

.dust.back .particle:nth-child(19) {
  -webkit-animation-delay: calc((var(--speed) * 0.68) + 0.19s);
  animation-delay: calc((var(--speed) * 0.68) + 0.19s);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translateX(calc(0.1552953791 * var(--horse-width))) translateY(calc(-0.0006534952 * (var(--horse-height) / 5))) scale(5) rotate(-140deg);
    opacity: 0;
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translateX(calc(0.1552953791 * var(--horse-width))) translateY(calc(-0.0006534952 * (var(--horse-height) / 5))) scale(5) rotate(-140deg);
    opacity: 0;
  }
}

.particle:nth-child(20) {
  transform-origin: -20% -20%;
  -webkit-animation: particle-animation-20 var(--speed) ease-out infinite;
  animation: particle-animatio